<div class="container_big-card">

    <div class="big-card_photo"> 
        <img 
            src="https://bizflyportal.mediacdn.vn/thumb_wm/1000,100/bizflyportal/images/ang16145638173866.jpg" 
            alt=""
            height="200px"
            
        >
    </div>

    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card_description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>
